body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

main {
    width: 100vw;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.btn-group {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 1rem;
}

button {
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: darkcyan;
    color: white;
}
button:first-child,
button:last-child {
    background-color: indigo;
    color: white;
}

button:active {
    opacity: 0.7;
}

.left-sidebar {
    visibility: hidden;
    position: absolute;
    width: 20rem;
    background-color: black;
    height: 100%;
    top: -1rem;
    padding: 24px;
    color: white;
    opacity: 0;
    transition: opacity 2s ease-in .1s;

    /* transform: translate(-20rem); */
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1s; */
}

@keyframes leftsidebar {
    0% {
        left: -20rem;
    }
    10% {
        left: -18rem;
    }
    20% {
        left: -16rem;
    }
    30% {
        left: -14rem;
    }
    40% {
        left: -12rem;
    }
    50% {
        left: -10rem;
    }
    60% {
        left: -8rem;
    }

    70% {
        left: -6rem;
    }
    80% {
        left: -4rem;
    }
    90% {
        left: -2rem;
    }
    100% {
        left: 0rem;
    }
}

.close {
    text-align: end;
}

.link-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.link-group a {
    text-decoration: none;
    color: white;
    font-size: large;
}
